<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bewerber</title>
    <!-- Include the CSS files for styling -->
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/reset.css" />
</head>
<body>
    <div class="container">
        <div class="applicants-view">
            <h1>Bewerber</h1>
            <!-- Hier ansicht von Bewerber -->
            <div class="applicant">
            <h2>Name: Lorem, ipsum.</h2>
            <p>Email: Lorem, ipsum.</p>
            <p>Job-ID: Lorem, ipsum.</p>
            </div>
        </div>
        
        <button><a href="create_job.html">Neues Job anbieten</a></button>
        <button><a href="jobs.html">Jobs</a></button>
        </div>
    </div>
</body>
</html>